<ion-view view-title="Cerca">
  <ion-content>

          <ion-list>
            <ion-item ng-click="openModal('luogo')">
                Luogo?
            </ion-item>
            <ion-item class="item-input item-select">
                <div class="input-label">
                    Tipo?
                </div>
                <select>
                  <option selected>Blue</option>
                  <option >Green</option>
                  <option>Red</option>
                </select>
            </ion-item>
             <ion-item ng-click="openModal('prezzo')">
                Prezzo?
            </ion-item>
              <ion-item>
                <a class="button button-block button-positive" href="#/app/cerca/risultati ">Cerca</a>
              </ion-item>
          </ion-list>

  </ion-content>
</ion-view>
